<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Tournamator.Properties.Settings.TournamatorConnectionString"
            connectionString="Data Source=|DataDirectory|\Tournamator.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="Tournamator.Properties.Settings.PlayerInfoConnectionString"
            connectionString="Data Source=|DataDirectory|\PlayerInfo.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>